extends ../layouts/index.pug

block style
    link(rel="stylesheet" href="styles/keyword/style.css")

block main
    h1= joke_data.keyword
    each joke, index in joke_data
        +joke_card(joke.id, joke.content, joke.submitted_by)
        unless (index === joke_data.length-1)
            hr

mixin joke_card(id, content, username)
    figure(id=id)
        p= content
        figcaption= submitted by #{user}
